---
# Frontmatter to trigger preprocessing
---
$accentColor: #e06d2a;
$hoverColor: #c96226;
$darkLinkColor: #ba5b23;
$alternateVoice: #ffefe5;

$backgroundHeader: url(/images/issues/2/1/issue-header.jpg);
$backgroundFooter: url(/images/issues/2/1/issue-footer.jpg);

@import "custom-issue-colors";