---
# Frontmatter to trigger preprocessing
---
$accentColor: #a04617;
$hoverColor: #8a3c14;
$darkLinkColor: #7a3812;
$alternateVoice: #ffeee5;
$accentBackgroundColor: lighten($accentColor,40%);

$backgroundHeader: url(/images/issues/1/2/issue-header.jpg);
$backgroundFooter: url(/images/issues/1/2/issue-footer.jpg);

@import "custom-issue-colors";