---
# Frontmatter to trigger preprocessing
---
$accentColor: #7d1f54;
$hoverColor: #661945;
$darkLinkColor: #571639;
$alternateVoice: #ffe5f4;

$backgroundHeader: url(/images/issues/1/3/issue-header.jpg);
$backgroundFooter: url(/images/issues/1/3/issue-footer.jpg);

@import "custom-issue-colors";