---
# Frontmatter to trigger preprocessing
---
$accentColor: #4fbb82;
$hoverColor: #45a371;
$darkLinkColor: #3e9467;
$alternateVoice: #e6fff1;
$accentBackgroundColor: lighten($accentColor,40%);

$backgroundHeader: url(/images/issues/1/1/issue-header.jpg);
$backgroundFooter: url(/images/issues/1/1/issue-footer.jpg);

@import "custom-issue-colors";