---
# Frontmatter to trigger preprocessing
---
$accentColor: #f5c183;
$hoverColor: #deaf76;
$darkLinkColor: #c99f6b;
$alternateVoice: #fff3e5;

$backgroundHeader: url(/images/issues/2/4/issue-header.jpg);
$backgroundFooter: url(/images/issues/2/4/issue-footer.jpg);

@import "custom-issue-colors";