---
# Frontmatter to trigger preprocessing
---
$accentColor: #eb2757;
$hoverColor: #d4234e;
$darkLinkColor: #c42149;
$alternateVoice: #ffe5ec;
$accentBackgroundColor: lighten($accentColor,40%);

$backgroundHeader: url(/images/issues/2/2/issue-header.jpg);
$backgroundFooter: url(/images/issues/2/2/issue-footer.jpg);

@import "custom-issue-colors";