---
# Frontmatter to trigger preprocessing
---
$accentColor: #425e73;
$hoverColor: #354b5c;
$darkLinkColor: #2c3e4d;
$alternateVoice: #e5f4ff;
$accentBackgroundColor: lighten($accentColor,40%);

$backgroundHeader: url(/images/issues/1/4/issue-header.jpg);
$backgroundFooter: url(/images/issues/1/4/issue-footer.jpg);

@import "custom-issue-colors";