---
# Frontmatter to trigger preprocessing
---
$accentColor: #fed639;
$hoverColor: #e8c434;
$darkLinkColor: #d9b731;
$alternateVoice: #fffae5;

$backgroundHeader: url(/images/issues/2/3/issue-header.jpg);
$backgroundFooter: url(/images/issues/2/3/issue-footer.jpg);

@import "custom-issue-colors";