<header class="site-header">
  <div id="title-banner">
    {% if layout.issue_layout %}
      {% assign header_logo = 'header-balloon-white.png' %}
      {% assign header_type = 'masthead-logotype-white.png' %}
    {% else %}
      {% assign header_logo = 'header-balloon.png' %}
      {% assign header_type = 'masthead-logotype.png' %}
    {% endif %}
    <a class="logo logomark" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/interface/{{ header_logo }}" alt="Appendix logo" /></a>
    <a class="logo logotype" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/interface/{{ header_type }}" alt="The Appendix" /></a>
  </div>
  {% if layout.issue_layout %}
    <div class="issue-meta">
      <a href="{{ include.issue.permalink }}">
        {{ include.issue.title }}—{{ include.issue.month | date: "%B" }} {{ include.issue.year }}—Vol. {{ include.issue.volume }}, No. {{ include.issue.number }}
      </a>
    </div>
  {% endif %}
</header>
<nav class="header-navigation">
  <ul class="links">
    <li><a href="/issues">Issues</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contributors">Contributors</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
