<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
    {% capture page_title %}
      {{ page.title | remove: '_' | strip_html }}
    {% endcapture %}
  {% else %}
    {% assign page_title = site.title %}
  {% endif %}
  <title>{{ page_title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="{{ "/scripts/jquery-1.10.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/scripts/jquery.mousewheel-3.0.6.pack.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/scripts/fancybox/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
  {% if page.audio %}
    <script src="{{ "/scripts/soundmanager2-nodebug-jsmin.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/mp3-player-button.js" | prepend: site.baseurl }}"></script>
  {% endif %}

  {% if page.leaflet %}
    <link rel="stylesheet" href="/scripts/leaflet/leaflet.css" />
      <!--[if lte IE 8]>
        <link rel="stylesheet" href="/scripts/leaflet/leaflet.ie.css" />
      <![endif]-->
    <script type="text/javascript" src="/scripts/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/scripts/leaflet/tile.stamen.js?v1.2.1"></script>
  {% endif %}

  <link rel="stylesheet" href="{{ "/scripts/fancybox/jquery.fancybox.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  {% if layout.issue_layout %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/issue-{{ include.issue.volume }}-{{ include.issue.number }}.css">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
