.article-content {
  margin-top: 3em;

  p {
    font: {
      size: 1.25em;
    }
    margin: 1.5em auto;
    line-height: 150%;
  }

  a {
    color: $accentColor;

    &:hover {
      color: $accentColorLinkHover;
    }
  }

  hr {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px 0 0 0;
    }
    height: 1px;
    margin: 2.5em auto;
    width: 33.3333%;

    &.special {
      background: {
        color: $accentColor;
        image: url('/images/interface/icons/wheel-divider.png');
        position: center;
        size: 16px 16px;
      }
      border-width: 0;
      margin: 2.5em auto 4em auto;
      width: 16px;
      height: 16px;
    }
  }

  ul.image-gallery {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: .5em;
      padding: 0;
    }
  }

  div.inline-video {
    max-width: 640px;
    margin: 2em auto;
    width: 100%;

    p.caption {
      font: {
        size: 1em;
        weight: bold;
      }
      line-height: 100%;
    }
  }

  div.inline-image {
    max-width: 640px;
    margin: 2em auto;
    width: 100%;

    p.caption {
      font: {
        size: 1em;
        weight: bold;
      }
      line-height: 100%;

      span.credit {
        color: $deemphasizedColor;
        display: block;
        font: {
          size: .75em;
          weight: normal;
        }
      }
    }
  }

  div.float-image {
    max-width: 210px;

    a {
      border-width: 0;
    }

    img {
      width: 210px;
      border: $lightInterfaceColor solid 1px;
      @include transition-stack;
    }

    img:hover {
      border-color: $accentColor;
    }

    p.caption {
      text-align: left;
      width: auto;
      font-size: .9em;
      line-height: 100%;
      height: auto;
      min-height: .9em;
      font-weight: bold;
      margin: 0;
    }

    span.credit {
      display: block;
      float: right;
      text-align: right;
      font-size: .7em;
      line-height: 1.25em;
      color: $lightInterfaceColor;
      font-weight: normal;
      max-width: 33%;
    }
  }

  div.float-image.left {
    float: left;
    margin: .5em 1em .5em -.5em;
  }

  div.float-image.right {
    float: right;
    margin: .5em -.5em .5em 1em;
  }

  span.interview-participant {
    display: block;
    font: {
      size: .9em;
    }
    line-height: 100%;
    margin: 0 auto .5em auto;
    padding: {
      top: .25em;
    }
    text: {
      align: center;
      transform: uppercase;
    }
  }

  p.alternate-voice {
    position: relative;
    margin: 0 -20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: lighten($accentColor,40);
    z-index: 5;

    a {
      color: $darkLinkColor;
    }

    a:hover {
      color: $accentColor;
      border-color: $accentColor;
    }
  }

  p.editorial-intro {
    font-style: italic;

    i {
      font-style: normal;
    }

    em {
      font-style: normal;
    }
  }

  blockquote {
    padding: 0 20px;
    width: 580px;
    border-width: 0 0 0 1px;
    border-style: dotted;
    border-color: $accentColor;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    p {
      width: auto;
      font-size: 1em;
      margin: 0 0 1em 0;
    }
  }

  div.inline-audio {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px;
    }
    margin: 1em 0;

    p.label {
      @include sans-serif-font-stack;
      font-size: 1em;
      margin: 1em;
      text-align: center;
    }

    a.sm2_button {
      @include transition-stack(all 0.2s ease-in-out);
      @include border-radius(16px);
      border: {
        width: 0;
      }
      display:block;
      margin: 1em auto;
      overflow:hidden;
      position:relative;
        width:64px;
        height:64px;
      text-indent:-9999px;
      vertical-align:middle;
    }

    a.sm2_button:focus {
      outline:none;
    }

    a.sm2_button,
    a.sm2_button.sm2_paused:hover {
      background-color:$accentColor;
      background-size: 32px 32px;
      background-image:url("/images/interface/buttons/play-button.png");
      background-repeat:no-repeat;
      background-position:50% 50%;
    }

    a.sm2_button:hover,
    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
      background-color:$darkLinkColor;
    }

    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
      -moz-transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
    }

    a.sm2_button.sm2_paused,
    a.sm2_button.sm2_paused:hover {
      background-color:$accentColorLinkHover;
    }

    a.sm2_button.sm2_loading,
    a.sm2_button.sm2_loading:hover {
      background-color:$deemphasizedColor;
    }
  }
}

.issue-footer {
  margin-top: 6em;

  h2 {
    text-align: left;
  }
  
  ul.table-of-contents {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;

    li {
      display: inline-block;
      margin: .25em 0 .25em 1%;
      padding: .25em .25em .25em 1.25em;
      text-indent: -1em;
      vertical-align: top;
      width: 32%;

      &:nth-child(3n) {
        margin-right: 1%;
      }
    }
  }
}
