.article-content {
  margin-top: 3em;

  p {
    font: {
      size: 1.25em;
    }
    margin: 1.5em auto;
    line-height: 150%;

    &.stage-direction {
      font-size: .9em;
      font-style: italic;
      margin: 2em auto;
      position: relative;
      text-align: left;
      width: 67%;
    }
  }

  a {
    color: $accentColor;

    &:hover {
      color: $accentColorLinkHover;
    }
  }

  h3 {
    color: $headerColor;
    font-variant: small-caps;
    margin-top: 3em;
  }

  h5 {
    font: {
      size: 1em;
      style: italic;
      weight: 300;
    }
    margin-top: -1em;
  }

  hr {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px 0 0 0;
    }
    clear: both;
    height: 1px;
    margin: 2.5em auto;
    width: 33.3333%;

    &.special {
      background: {
        color: $accentColor;
        image: url('/images/interface/icons/wheel-divider.png');
        position: center;
        size: 16px 16px;
      }
      border-width: 0;
      margin: 2.5em auto 4em auto;
      width: 16px;
      height: 16px;
    }
  }

  span.deemphasized {
    color: $deemphasizedColor;
  }

  iframe {
    margin: {
      right: auto;
      left: auto;
    }
    max-width: 640px;
    width: 100%;
  }

  ul {
    font-size: 1.25em;
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 2em;

    li {
      line-height: 150%;
      margin-bottom: .5em;
    }
  }

  ol {
    font-size: 1.25em;
    list-style-type: decimal;
    margin: 1em 0;
    padding: 0 2em;

    li {
        line-height: 150%;
        margin-bottom: .5em;
    }
  }
            
  ul.image-gallery {
    margin: 2em 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: .5em;
      padding: 0;
    }
  }

  div.inline-leaflet-map {
    width: 100%;
    margin: 30px 0;
    padding: 31.25% 0; // 200 over 640

    .leaflet-map-pane {
      margin-top: -31.25%; // 200 over 640
    }

    a {
      border-width: 0;
    }

    a.leaflet-control-zoom-in {
      display: block;
    }

    a.leaflet-control-zoom-out {
      display: block;
    }

    p {
      width: auto;
      margin: .5em 0;
    }
  }

  div.inline-video {
    max-width: 640px;
    margin: 2em auto;
    width: 100%;

    p.caption {
      font: {
        size: 1em;
        weight: bold;
      }
      line-height: 100%;
    }
  }

  div.inline-image {
    max-width: 640px;
    margin: 3em auto;
    width: 100%;

    img {
      width: 100%;
    }

    p.caption {
      font: {
        size: 1em;
        weight: bold;
      }
      line-height: 100%;

      span.credit {
        color: $deemphasizedColor;
        display: block;
        font: {
          size: .75em;
          weight: normal;
        }
      }
    }
  }

  div.float-image {
    max-width: 210px;

    a {
      border-width: 0;
    }

    img {
      width: 210px;
      border: $lightInterfaceColor solid 1px;
      @include transition-stack;
    }

    img:hover {
      border-color: $accentColor;
    }

    p.caption {
      text-align: left;
      width: auto;
      font-size: .9em;
      line-height: 100%;
      height: auto;
      min-height: .9em;
      font-weight: bold;
      margin: 0;
    }

    span.credit {
      display: block;
      float: right;
      text-align: right;
      font-size: .7em;
      line-height: 1.25em;
      color: $lightInterfaceColor;
      font-weight: normal;
      max-width: 33%;
    }
  }

  div.float-image.left {
    float: left;
    margin: .5em 1em .5em -.5em;
  }

  div.float-image.right {
    float: right;
    margin: .5em -.5em .5em 1em;
  }

  span.interview-participant {
    display: block;
    font: {
      size: .9em;
    }
    line-height: 100%;
    margin: 0 auto .5em auto;
    padding: {
      top: .25em;
    }
    text: {
      align: center;
      transform: uppercase;
    }
  }

  p.alternate-voice {
    position: relative;
    margin: 0 -20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: lighten($accentColor,40);
    z-index: 5;

    a {
      color: $darkLinkColor;
    }

    a:hover {
      color: $accentColor;
      border-color: $accentColor;
    }
  }

  p.editorial-intro {
    font-style: italic;

    i {
      font-style: normal;
    }

    em {
      font-style: normal;
    }
  }

  blockquote {
    border-width: 0 0 0 1px;
    border-style: dotted;
    border-color: $accentColor;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px;
    width: 580px;

    p {
      width: auto;
      font-size: 1em;
      margin: 0 0 1em 0;
    }

    ul {
      font-size: 1em;
    }

    ol {
      font-size: 1em;
    }
  }

  table {
    @include sans-serif-font-stack;
    margin: 2em auto;
    width: 640px;

    caption {
      font-weight: bold;
      margin: .25em auto .75em auto;
      text: {
        align: center;
      }
    }

    th {
      background-color: $negativeColor;
      border: {
        color: $negativeColor;
        style: solid;
        width: 0 0 1px 0;
      }
      font: {
        size: .8em;
        weight: bold;
      }
      padding: 0 0 .25em 0;
      text: {
        align: center;
      }
      vertical-align: bottom;

      &.special {
        border-width: 0;
      }
    }

    td {
      background-color: $accentBackgroundColor;
      border: {
        color: $negativeColor;
        style: solid;
        width: 0 0 1px 0;
      }
      font: {
        size: .8em;
      }
      padding: .25em 0;
      text: {
        align: center;
      }
      vertical-align: middle;
      width: 20%;

      &.special {
        background-color: $negativeColor;
        border: {
          color: $negativeColor;
          style: solid;
          width: 0 1px 0 0;
        }
        font: {
          weight: bold;
        }
        padding-right: .25em;
        text: {
          align: left;
        }
      }
    }
  }

  div.inline-audio {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px;
    }
    margin: 1em 0;

    p.label {
      @include sans-serif-font-stack;
      font-size: 1em;
      margin: 1em;
      text-align: center;
    }

    a.sm2_button {
      @include transition-stack(all 0.2s ease-in-out);
      @include border-radius(16px);
      border: {
        width: 0;
      }
      display:block;
      margin: 1em auto;
      overflow:hidden;
      position:relative;
        width:64px;
        height:64px;
      text-indent:-9999px;
      vertical-align:middle;
    }

    a.sm2_button:focus {
      outline:none;
    }

    a.sm2_button,
    a.sm2_button.sm2_paused:hover {
      background-color:$accentColor;
      background-size: 32px 32px;
      background-image:url("/images/interface/buttons/play-button.png");
      background-repeat:no-repeat;
      background-position:50% 50%;
    }

    a.sm2_button:hover,
    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
      background-color:$darkLinkColor;
    }

    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
      -moz-transform:rotate(90deg);
      -webkit-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
    }

    a.sm2_button.sm2_paused,
    a.sm2_button.sm2_paused:hover {
      background-color:$accentColorLinkHover;
    }

    a.sm2_button.sm2_loading,
    a.sm2_button.sm2_loading:hover {
      background-color:$deemphasizedColor;
    }
  }

  .bio-footer {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px 0 0 0;
    }
    margin-top: 2em;
    padding: {
      right: 2em;
      left: 2em;
    }
  }
}

.issue-footer {
  margin-top: 6em;

  h2 {
    text-align: left;
  }
  
  ul.table-of-contents {
    list-style-type: none;
    margin: 2em 0;
    padding: 0;

    li {
      border: {
        color: transparent;
        style: solid;
        width: 1px 0 0 0;
      }
      box-sizing: border-box;
      display: inline-block;
      padding: .5em 1em 1em 1em;
      vertical-align: top;
      width: 33.33333%;

      a {
        display: block;
        height: 100%;

        span.number {
          color: $textColor;
          display: block;
          float: left;
          font-weight: bold;
          height: 100%;
          text-align: right;
          width: 1.25em;
        }

        span.label {
          display: block;
          margin-left: 1.5em;
        }
      }
    }
  }
}

.fancybox-title {
  @include sans-serif-font-stack;
  color: $textColor;
  font-size: 1em;

  span.credit {
    color: $deemphasizedColor;
    display: block;
    font-size: .8em;
  }
}