.article-content {
  margin-top: 3em;

  p {
    font: {
      size: 1.25em;
    }
    margin: 1.5em auto;
    line-height: 150%;
  }

  a {
    color: $accentColor;

    &:hover {
      color: $accentColorLinkHover;
    }
  }

  hr {
    border: {
      color: $accentColor;
      style: dotted;
      width: 1px 0 0 0;
    }
    height: 1px;
    margin: 2.5em auto;
    width: 33.3333%;

    &.special {
      background: {
        color: $accentColor;
        image: url('/images/interface/icons/wheel-divider.png');
        position: center;
        size: 16px 16px;
      }
      border-width: 0;
      margin: 2.5em auto 4em auto;
      width: 16px;
      height: 16px;
    }
  }

  div.inline-image {
    max-width: 640px;
    margin: 2em auto;
    width: 100%;

    p.caption {
      font: {
        size: 1em;
        weight: bold;
      }
      line-height: 100%;

      span.credit {
        color: $deemphasizedColor;
        display: block;
        font: {
          size: .75em;
          weight: normal;
        }
      }
    }
  }

  span.interview-participant {
    display: block;
    font: {
      size: .9em;
    }
    line-height: 100%;
    margin: 0 auto .5em auto;
    padding: {
      top: .25em;
    }
    text: {
      align: center;
      transform: uppercase;
    }
  }
}