.contributors-content {
  ul.contributors {
    list-style-type: none;
    margin: 2em auto;
    padding: 0;

    & > li {
      border: {
        color: $accentColor;
        style: dotted;
        width: 1px 0 0 0;
      }
      display: inline-block;
      line-height: 125%;
      margin: 0 0 .75em 0;
      max-width: 50%;
      padding: .75em .75em .25em .5em;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }

      span.name {
        @include sans-serif-font-stack;
        color: $headerColor;
        margin-right: .5em;
      }

      a {
        background-color: $negativeColor;
        border: {
          color: $deemphasizedColor;
          radius: .75em;
          style: solid;
          width: 1px;
        }
        display: inline-block;
        height: .75em;
        margin-right: .25em;
        width: .75em;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: $accentColor;
          border-color: $accentColor;
        }
      }
    }
  }
}