body {
  @include serif-font-stack;
  color: $textColor;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header.site-header {
  background: {
    position: 50% 50%;
    repeat: no-repeat;
  }
  border: {
    color: $accentColor;
    style: solid;
    width: 9px 0 3px 0;
  }

  div.issue-meta {
    @include sans-serif-font-stack;
    background-color: transparent;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    font: {
      size: 1em;
      weight: bold;
    }
    margin: {
      top: 1em;
    }
    padding: .5em 0;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  div#title-banner {
    margin: 0 auto;
    max-width: 638px;
    min-width: 300px;
    padding: 0.5% 0;
    width: 66.66667%;

    a.logo {
      display: block;

      &.logomark {
        margin-top: 3%;
        margin-left: -9.7179%;
        max-width: 62px;
        width: 9.7179%;
        float: left;
      }

      &.logotype {
        margin: 0 auto;
        max-width: 598px;
        width: 93.7304%;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

nav.header-navigation {
  border: {
    color: $accentColor;
    style: solid;
    width: 0 0 3px 0;
  }
  padding: .25em 0;
  text-align: center;

  ul.links {
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include sans-serif-font-stack;
      color: $accentColor;
      font: {
        size: 1em;
        weight: bold;
      }
      text-decoration: none;

      &:hover {
        color: $accentColorLinkHover;
      }
    }
  }
}

.page-wrap {
  margin: 0 auto;
  max-width: 800px;
  min-width: 300px;
  width: 75%;
}

.post-header-image {
  overflow: hidden;
  padding: 15.625% 0; // 200 over 1280
  position: relative;
  width: 100%;

  img {
    margin: 0 auto;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    width: 100%;
    z-index: 0;
  }

  span.caption {
    @include sans-serif-font-stack;
    background-color: rgba(0,0,0,0.4);
    color: $negativeColor;
    font-size: 0.875em; // 14px
    padding: .25em .5em;
    position: absolute;
      bottom: 0;
      left: 0;
    z-index: 1;
  }
}

h1 {
  @include sans-serif-font-stack;
  color: $headerColor;
  font: {
    size: 2em;
    weight: bold;
  }
  text-align: center;
}

p.section-bar {
  @include sans-serif-font-stack;
  border: {
    color: $accentColor;
    style: dotted;
    width: 1px 0 0 0;
  }
  color: $headerColor;
  font-weight: bold;
  margin: 4em auto 1em auto;
  position: relative;
  text-align: center;

  span.wrapper {
    display: inline-block;
    background-color: $negativeColor;
    position: relative;
      top: -.75em;
    padding: 0 .5em;
  }
}

article {
  padding-top: 2em;

  h2 {
    color: $headerColor;
    font: {
      size: 2em;
      weight: bold;
    }
    margin-bottom: 0;
    text-align: center;
  }

  p.article-meta {
    color: $deemphasizedColor;
    line-height: 1;
    margin: .5em 0 0 0;
    text-align: center;
  }
}

.clear-block {
  clear: both;
}