body {
  @include serif-font-stack;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header.site-header {
  background: {
    position: 50% 50%;
    repeat: no-repeat;
  }
  border: {
    color: $accentColor;
    style: solid;
    width: 9px 0 3px 0;
  }

  div.issue-meta {
    @include sans-serif-font-stack;
    background-color: transparent;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    font: {
      size: 1em;
      weight: bold;
    }
    margin: {
      top: 1em;
    }
    padding: .5em 0;
    text-align: center;
  }

  div#title-banner {
    margin: 0 auto;
    max-width: 660px;
    min-width: 300px;
    padding: 0.5% 0;
    width: 66.66667%;

    a.logo {
      display: block;

      &.logomark {
        margin-top: 3%;
        max-width: 62px;
        width: 9.1176471%;
        float: left;
      }

      &.logotype {
        margin-left: 12.05882353%;
        max-width: 598px;
        width: 87.9411765%;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.page-wrap {
  margin: 0 auto;
  max-width: 800px;
  min-width: 300px;
  width: 75%;
}

article {
  padding-top: 2em;

  h2 {
    font: {
      size: 2em;
      weight: bold;
    }
    margin-bottom: 0;
    text-align: center;
  }

  p.article-meta {
    color: $deemphasizedColor;
    line-height: 1;
    margin: .5em 0 0 0;
    text-align: center;
  }
}