.issue-frontmatter-content div.table-of-contents ul li div.details span.title a {
  &:hover {
    color: $accentColor;
  }
}

nav.header-navigation {
  border-color: $accentColor;

  li {
    a {
      color: $accentColor;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

.article-content {
  p.alternate-voice {
    background-color: $alternateVoice;
  }
  
  p.alternate-voice a {
    color: $darkLinkColor;

    &:hover {
      color: $accentColor;
    }
  }

  hr {
    border-color: $accentColor;

    &.special {
      background-color: $accentColor;
    }
  }

  blockquote {
    border-color: $accentColor;
  }

  a {
    color: $accentColor;

    &:hover {
      color: $hoverColor;
    }
  }

  table td {
    background-color: $accentBackgroundColor;
  }

  div.inline-audio {
    border: {
      color: $accentColor;
    }

    a.sm2_button,
    a.sm2_button.sm2_paused:hover {
      background-color:$accentColor;
    }

    a.sm2_button:hover,
    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
      background-color:$darkLinkColor;
    }

    a.sm2_button.sm2_paused,
    a.sm2_button.sm2_paused:hover {
      background-color:$hoverColor;
    }
  }

  .bio-footer {
    border-color: $accentColor;
  }
}

.issue-footer ul.table-of-contents {
  background-color: $alternateVoice;
  background-color: rgba($alternateVoice, 0.5);

  li {
    &:hover, &.here {
      background-color: $hoverColor;
      background-color: rgba($hoverColor, 0.2);
      border-color: $hoverColor;
      border-color: rgba($hoverColor, 0.5);
    }
  }

  a {
    color: $darkLinkColor;
    line-height: 125%;
    text-decoration: none;

    &:hover {
      color: $accentColor;
    }
  }
}

header.site-header {
  background: {
    color: $accentColor;
    image: $backgroundHeader;
  }

  border-color: $accentColor;
}

footer.site-footer {
  border-color: $accentColor;

  a {
    color: $accentColor;

    &:hover {
      color: $hoverColor;
    }
  }

  ul.links {
    border-color: $accentColor;
  }
}

.page-content {
  background: {
    image: $backgroundFooter;
    position: bottom;
    repeat: no-repeat;
  }
}