---
layout: default
issue_layout: true
---
{% for issue in site.issues %}{% if issue.volume == page.volume %}{% if issue.number == page.number %}
  {% assign this_issue = issue %}
{% endif %}{% endif %}{% endfor %}

{% if page.header_image %}
<div class="post-header-image">
  <img src="/images/issues/{{ page.volume }}/{{ page.number }}/{{ page.header_image }}" />
  {% if page.header_image_caption %}
    <span class="caption">{{ page.header_image_caption }}</span>
  {% endif %}
</div>
{% endif %}
<article class="page-wrap">
  <h2>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
  <p class="article-meta">
    {% if page.authors.size > 0 %}
      {% if page.authors.size == 1 %}
        By {{ page.authors[0] | person_full_name }} –
      {% elsif page.authors.size == 2 %}
        By {{ page.authors[0] | person_full_name }} and 
        {{ page.authors[1] | person_full_name }} – 
      {% elsif page.authors.size == 3 %}
        By {{ page.authors[0] | person_full_name }}, 
        {{ page.authors[1] | person_full_name }}, 
        and {{ page.authors[2] | person_full_name }} –
      {% endif %}
    {% endif %}
    Published {{ page.date | date: "%B %-d, %Y" }}
    {% if page.illustrators.size > 0 %}
      – Illustration by {{ page.illustrators[0] | person_full_name }}
    {% endif %}
  </p>

  <div class="article-content">
    {{ page.content }}
  </div>

  <div class="issue-footer">
    <h2>Elsewhere in this issue…</h2>
    {% if this_issue.chapters.size > 0 %}
      {% for chapter in this_issue.chapters %}
        {% assign chapter_number = forloop.index %}
        <h3>Chapter {{ chapter_number }}: {{ chapter }}</h3>
        <ul class="table-of-contents"><!--
          {% assign posts = site.posts | sort: 'toc' %}
          {% for post in posts %}{% if post.volume == page.volume %}{% if post.number == page.number %}{% if post.chapter == chapter_number %}
            --><li>
              {{ post.toc }}. 
              <a href="{{ post.permalink }}">
                {{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}
              </a>
            </li><!--
          {% endif %}{% endif %}{% endif %}{% endfor %}
        --></ul>
      {% endfor %}
    {% else %}
      <ul class="table-of-contents"><!--
        {% assign posts = site.posts | sort: 'toc' %}
        {% for post in posts %}{% if post.volume == page.volume %}{% if post.number == page.number %}
          --><li>
            {{ post.toc }}. 
            <a href="{{ post.permalink }}">
              {{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}
            </a>
          </li><!--
        {% endif %}{% endif %}{% endfor %}
      --></ul>
    {% endif %}
  </div>
</article>