<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if layout.issue_layout %}
      {% for issue in site.issues %}{% if issue.volume == page.volume %}{% if issue.number == page.number %}
        {% assign this_issue = issue %}
      {% endif %}{% endif %}{% endfor %}
      {% include header.html issue=this_issue %}
    {% else %}
      {% include header.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
