<!DOCTYPE html>
<html>

  {% if layout.issue_layout %}
    {% for issue in site.issues %}{% if issue.volume == page.volume %}{% if issue.number == page.number %}
      {% assign this_issue = issue %}
    {% endif %}{% endif %}{% endfor %}
  {% endif %}

  {% if layout.issue_layout %}
    {% include head.html issue=this_issue %}
  {% else %}
    {% include head.html %}
  {% endif %}

  <body>

    {% if layout.issue_layout %}
      {% include header.html issue=this_issue %}
    {% else %}
      {% include header.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    </script>
  </body>

</html>
